$cardBgColor: #fff;
$cardTextColor: #272727;
$cardShadow: rgba(121, 121, 121, 0.15);
$cardMaxWidth: 1060px;

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 60px;
    padding-right: 55px;

    border-radius: 20px;
    background: $cardBgColor;
    box-shadow: 5px 5px 25px 0px $cardShadow;

    width: 100%;
    max-width: $cardMaxWidth;

    overflow: hidden;

    @media screen and (max-width: 900px) {
        padding-left: 40px;
        padding-right: 40px;
    }

    @media screen and (max-width: 820px) {
        padding-left: 28px;
        padding-right: 28px;
    }

    @media screen and (max-width: 750px) {
        padding-left: 20px;
        padding-right: 20px;
        line-height: normal;
    }

    @media screen and (max-width: 655px) {
        padding-left: 16px;
        padding-right: 16px;
    }

    .textInfo {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        gap: 10px;

        .card__title {
            color: $cardTextColor;
            font-family: Mont;
            font-size: 20px;
            font-style: normal;
            font-weight: 800;
            line-height: 150%;

            max-width: 292px;

            @media screen and (max-width: 820px) {
                font-size: 16px;
            }
        }
    }
}
