$inputBgColor: #f8f8f8;
$inputHeight: 60px;
$inputBorderFocusColor: #fea300;

.inputContainer {
    position: relative;
    display: flex;
    align-items: center;

    border: none;

    min-width: 340px;
    max-width: 860px;
    width: 100%;

    .inputContainer {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
    .input {
        border-radius: 20px 0px 0px 20px;
        background: $inputBgColor;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;

        text-overflow: clip;
        white-space: nowrap;
        text-align: left;

        height: $inputHeight;
        width: 100%;
        padding: 18px 20px;

        min-width: 340px;
        max-width: 860px;

        font-family: Mont;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        outline: 0;
        border: none;

        cursor: text;
        &:focus,
        &:active {
            outline: $inputBorderFocusColor solid 1px !important;
            border-color: $inputBorderFocusColor !important;
            border: 1px solid $inputBorderFocusColor !important;
        }

        &::placeholder {
            color: #9f9f9f;
            user-select: none;
        }

        &:-moz-placeholder {
            opacity: 1;
        }
        &:-moz-placeholder {
            opacity: 1;
        }
    }
}
