.button {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);

    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;

    max-width: 52px;
    max-height: 52px;
    transition: all 0.2s;
    &:hover {
        cursor: pointer;
    }
}
