$userName: #272727;

.layout {
    display: flex;
    flex-direction: column;

    gap: 20px;
    justify-content: center;
    align-items: center;

    .img {
        width: 96px;
        height: 96px;
        border-radius: 20px;
    }
    .userName {
        color: $userName;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
    }
}
