$cardBgColor: #fff3dd;
$cardTextColor: #272727;
$cardShadow: rgba(121, 121, 121, 0.15);
$cardMaxWidth: 1060px;
$cardTextPurpleColor: #9f9f9f;

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 20px;
    padding-right: 20px;

    border-radius: 20px;
    background: $cardBgColor;
    box-shadow: 5px 5px 25px 0px $cardShadow;

    width: 100%;
    max-width: $cardMaxWidth;

    overflow: hidden;

    background-image: url('../../../../public/globalAssets/cardBgMobile.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .card__title {
        color: $cardTextColor;
        font-family: Mont;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: 120%;
        max-width: 177px;

        @media screen and (max-width: 460px) {
            font-size: 16px;
        }
        .purple {
            font-family: Mont;
            font-size: 20px;
            font-style: normal;
            font-weight: 800;
            color: $cardTextPurpleColor;

            @media screen and (max-width: 460px) {
                font-size: 16px;
            }
        }
    }
}
