.layout {
    display: flex;
    flex-direction: column;

    height: 100%;

    padding-top: 24px;

    gap: 48px;
    .bigCardLayout {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .foodCard {
            width: 100%;
            height: 100%;

            display: flex;
            justify-content: center;

            transition: transform 0.3s ease;
        }
        .swipeRight {
            transform: translateX(100%);
        }

        .swipeLeft {
            transform: translateX(-100%);
        }
    }
    .selectionLayout {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
